<!DOCTYPE HTML>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css"
          integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">

    <title>Users</title>
<body>

<div class="container">

    <h3>Users management</h3>
    <hr>

    <form th:action="@{/users/search}" class="form-inline">
        <a th:href="@{/users/showFormForAdd}"
           class="btn btn-primary btn-sm mr-5 mb-3">
            Add User
        </a>

        <a th:href="@{/managementChoice}"
           class="btn btn-primary btn-sm mr-5 mb-3">
            Manager Panel
        </a>

        <input class="form-control  ml-5 mr-sm-2 mb-3" type="search" name="userName" placeholder="Search by First Name"/>

        <button class="btn btn-success mb-3" type="submit">Search</button>
    </form>

    <table class="table table-bordered table-striped">
        <thead class="thead-dark">
        <tr>
            <th>Username</th>
            <th>Password</th>
            <th>First Name</th>
            <th>Last Name</th>
            <th>Email</th>
        </tr>
        </thead>

        <tbody>
        <tr th:each="tempUser : ${users}">
            <td th:text="${tempUser.userName}"/>
            <td th:text="${tempUser.password}"/>
            <td th:text="${tempUser.firstName}"/>
            <td th:text="${tempUser.lastName}"/>
            <td th:text="${tempUser.email}"/>
            <td>
                <!-- Add "update" button/link -->
                <a th:href="@{/users/showFormForUpdate(userId=${tempUser.id})}"
                   class="btn btn-info btn-sm">
                    Update
                </a>
                <a th:href="@{/users/delete(userId=${tempUser.id})}"
                   class="btn btn-danger btn-sm"
                   onclick="if (!(confirm('Are you sure you want to delete this user?'))) return false">
                    Delete
                </a>
            </td>
        </tr>
        </tbody>

    </table>

</div>

</body>
</html>